[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pipenv = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
coverage = "*"

[packages]
python-dummy-db = {editable = true, path = "."}

[scripts]
verify = "./install.sh verify"
clean = "./install.sh clean"
runtest ="pylint $(pwd)"
coverage = "./install.sh coverage"
tests = "pipenv run pytest tests/"

[requires]
python = ">=3.8"
