[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pipenv = "*"
pytest = "*"
pylint = "*"
flake8 = "*"

[packages]
python-dummy-db = {path = "."}

[scripts]
verify = "./install.sh verify"
clean = "./install.sh clean"
test ="pylint $(pwd)"

[requires]
python = ">=3.8"
